<html>
<head>
	<title>vuemod</title>
</head>
<body>
	<svg id="app" width="1000" height="600">
		<treecomp v-for="item in boxes" :data="item" :key="item.text" :layout="vboxLayout(3, 3)"
				:typef="(b)=>'box'"></treecomp>
		<box :data="{text: 'manual', x: 10, y: 250}" :layout="vboxLayout()"/>
	</svg>
</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script>
Vue.component('box', {
	props: ['data', 'layout'],
	template:
		'<g v-on:click="data.text = \'qwe\'" class="node" \
				:transform="\'translate(\' + data.x + \',\' + data.y + \')\'">\
			<rect height="20" stroke="black" fill="none"/>\
			<text x=".1em" y=".9em">{{ data.text }}</text>\
			<slot></slot>\
		</g>',
	mounted: function() {
		console.log('mounted', this.data.text);
		var internalSize = getTextSize(this);
		var childSize = this.layout ? this.layout(this, {x: 0, y: internalSize.height}) : {width: 0, height: 0};
		var rect = this.$el.children[0];
		rect.setAttribute('width', Math.max(internalSize.width, childSize.width));
		rect.setAttribute('height', Math.max(internalSize.height, childSize.height));
	},
});

function getTextSize(t) {
	var el = t.$el;
  var text = el.children[1];
  var bb = text.getBBox();
	return {width: bb.width + 2 * bb.x, height: bb.height + 2}
}

function vboxLayout(margin, gap) {
	return function(t, topLeft) {
		var el = t.$el,
			x = topLeft.x + (margin || 0)
			y = topLeft.y + (margin || 0),
			width = 0,
			anyChild = false;

		for (var child of t.$children) {
			var childBounds = child.$el.getBBox();
			child.data.y = y;
			child.data.x = x;
			y += childBounds.height + (gap || 0);
			width = Math.max(width, childBounds.width);
			anyChild = true;
		}
		if (anyChild) {
			return {width: width + topLeft.x + 2 * (margin || 0), height: y - (gap || 0) + (margin || 0)}
		} else {
			return {width: 0, height: 0}
		}
	}
}

// create a hierarchy of nodes based on a javascript tree structure
// starts with a node based on data, and then inside that node all
// nodes based on data.children recursively
// the node type is determined by calling typef with the object representing the node instance
// child nodes can be placed by a layout manager, if supplied
Vue.component('treecomp', {
	props: ['data', 'typef', 'layout'],
	template:
		'<component :is="typef(data)" :data="data" :layout="layout">\
			<treecomp :typef="typef" v-for="item in data.children" :data="item" :key="item.text" :layout="layout"></treecomp>\
		</component>'
});

var app = new Vue({
	el: '#app',
	data: {
		boxes: [
			{type: 'box', text: 'Vegetables', x: 10, y: 10},
			{type: 'box', text: 'Cheese', x: 20, y: 40},
			{type: 'box2', text: 'Whatever', x: 30, y: 70},
			{type: 'box', text: 'parent', x: 40, y: 100, children: [
					{text: 'child0', x: 10, y: 10, children: [
							{text: 'child1', x: 10, y: 10},
							{text: 'child2', x: 10, y: 40}
						]
					},
					{text: 'child3xxxxx', x: 10, y: 100}
				]
			}
		]
	},
	methods: {
		vboxLayout
	}
});
</script>
</html>
