<html>
<head>
	<title>vuemod</title>
</head>
<body>
	<svg id="app" width="1000" height="600">
		<treecomp v-for="item in boxes" v-bind:box="item" :key="item.text"
				:typef="(b)=>b.text.length % 3 == 0 ? 'box2' : 'box'"></treecomp>
	</svg>
</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script>
var boxVar = Vue.component('box', {
	props: ['box'],
	template:
		'<g v-on:click="box.text = \'qwe\'" class="node" \
				:transform="\'translate(\' + box.x + \',\' + box.y + \')\'">\
			<rect height="20" stroke="black" fill="none"/>\
			<text x=".1em" y=".9em">{{ box.text }}</text>\
			<slot></slot>\
		</g>',
	mounted: sizeAroundText,
});

var boxVar2 = Vue.component('box2', {
	props: ['box'],
	template:
		'<g v-on:click="box.text = \'qwe\'" class="node" \
				:transform="\'translate(\' + box.x + \',\' + box.y + \')\'">\
			<rect height="20" stroke="black" fill="yellow"/>\
			<text x=".1em" y=".9em">{{ box.text }}</text>\
			<slot></slot>\
		</g>',
		mounted: sizeAroundText,
});

var defaultType = 'box2';

Vue.component('treecomp', {
	props: ['box', 'typef'],
	template:
		'<component :is="typef(box)" :box="box">\
			<treecomp :typef="typef" v-for="item in box.children" :box="item" :key="item.text"></treecomp>\
		</component>'
});

Vue.component('dbox', {
	props: ['box', 'typef'],
	template:
		'<component :is="typef(box)" :box="box"></component>'
});

var app = new Vue({
	el: '#app',
	data: {
		boxes: [
			{type: 'box', text: 'Vegetables', x: 10, y: 10},
			{type: 'box', text: 'Cheese', x: 20, y: 40},
			{type: 'box2', text: 'Whatever', x: 30, y: 70},
			{type: 'box', text: 'parent', x: 40, y: 100, children: [
					{text: 'child0', x: 10, y: 10, children: [
							{text: 'child1', x: 10, y: 10},
							{text: 'child2', x: 10, y: 40}
						]
					},
					{text: 'child3', x: 10, y: 80}
				]
			}
		]
	}
});

function changeText () {
	app.boxes[0].text = 'asd';
}

// size the el child rect around el child text
function sizeAroundText() {
	var el = this.$el;
  var rect = el.children[0];
  var text = el.children[1];
  var bb = text.getBBox();
  rect.setAttribute('width', bb.width + 2 * bb.x);
  rect.setAttribute('height', bb.height);
}
</script>
</html>
